/* Francisco */

body,
html {
    margin: 0;
    padding: 0;
    z-index: 2;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}

button {
    font-size: 7px;
    background-color: rgba(142, 180, 230, 1);
    border-radius: 25px;
    position: fixed;
    right: 20px;
    max-width: 100px;
    max-height: 100px;
}

header {
    position: relative;
}

.socials {
    position: absolute;
    z-index: 5;
    color: white;
    right: 20px;
    top: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}
.socials a {
    color: white;
    margin: 0 10px;
}
.header {
    position: relative;
    background: linear-gradient(to bottom, #004d81, #081e4d);
    /* background: linear-gradient(to bottom, #4e6fdd, #6c66a9); */
    padding: 20px 40px;
    padding-bottom: 140px;
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 84.16%,
        2% 85.73%,
        4% 87.26%,
        6% 88.71%,
        8% 90.08%,
        10% 91.33%,
        12% 92.46%,
        14% 93.46%,
        16% 94.3%,
        18% 94.99%,
        20% 95.5%,
        22% 95.83%,
        24% 95.99%,
        26% 95.96%,
        28% 95.75%,
        30% 95.36%,
        32% 94.79%,
        34% 94.06%,
        36% 93.17%,
        38% 92.13%,
        40% 90.96%,
        42% 89.67%,
        44% 88.27%,
        46% 86.79%,
        48% 85.25%,
        50% 83.66%,
        52% 82.05%,
        54% 80.43%,
        56% 78.82%,
        58% 77.26%,
        60% 75.75%,
        62% 74.31%,
        64% 72.97%,
        66% 71.74%,
        68% 70.64%,
        70% 69.67%,
        72% 68.86%,
        74% 68.22%,
        76% 67.74%,
        78% 67.45%,
        80% 67.33%,
        82% 67.4%,
        84% 67.65%,
        86% 68.09%,
        88% 68.69%,
        90% 69.46%,
        92% 70.38%,
        94% 71.45%,
        96% 72.65%,
        98% 73.97%,
        100% 75.38%
    );
    z-index: 1;
}

.first {
    padding-top: 20px;
    width: 70vw;
    color: white;
    z-index: 2;
}
.second {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}
.link {
    text-decoration: none;
    color: white;
    background-color: rgb(236, 115, 101);
    padding: 25px;
    font-size: larger;
}

.link:hover {
    background-color: rgb(186, 92, 82);
}

.usuario-piloto {
    position: absolute;
    width: 20vw;
    z-index: 3;
    top: 110px;
    right: 20px;
    background-color: white;
    border-top: 3mm ridge #65a5ff;
    padding: 50px;
    padding-top: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1),
        10px 10px 20px rgba(0, 0, 0, 0.1);
}

.organizations {
    display: flex;
    justify-content: space-around;
}

.link-img {
    height: 5rem;
    border-radius: 10%;
}

.colaboradores {
    color: white;
    width: 70vw;
}
.col-inside {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col-inside p {
    margin-left: 10px;
}
.despliegues {
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
}
.separator-middle {
    width: 100%;
    background-color: #65a5ff;
    color: white;
    text-align: center;
}
.separator-top {
    content: "";
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #4a7ec6, #65a5ff);
    clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 15.22%,
        2% 20.27%,
        4% 24.44%,
        6% 27.14%,
        8% 28%,
        10% 26.89%,
        12% 23.97%,
        14% 19.65%,
        16% 14.54%,
        18% 9.35%,
        20% 4.82%,
        22% 1.57%,
        24% 0.07%,
        26% 0.53%,
        28% 2.88%,
        30% 6.79%,
        32% 11.71%,
        34% 16.96%,
        36% 21.79%,
        38% 25.52%,
        40% 27.64%,
        42% 27.84%,
        44% 26.1%,
        46% 22.66%,
        48% 18%,
        50% 12.78%,
        52% 7.73%,
        54% 3.56%,
        56% 0.86%,
        58% 0%,
        60% 1.11%,
        62% 4.03%,
        64% 8.35%,
        66% 13.46%,
        68% 18.65%,
        70% 23.18%,
        72% 26.43%,
        74% 27.93%,
        76% 27.47%,
        78% 25.12%,
        80% 21.21%,
        82% 16.29%,
        84% 11.04%,
        86% 6.21%,
        88% 2.48%,
        90% 0.36%,
        92% 0.16%,
        94% 1.9%,
        96% 5.34%,
        98% 10%,
        100% 15.22%
    );
}
.separator-bottom {
    content: "";
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #4a7ec6, #65a5ff);
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 86.22%,
        2% 91.27%,
        4% 95.44%,
        6% 98.14%,
        8% 99%,
        10% 97.89%,
        12% 94.97%,
        14% 90.65%,
        16% 85.54%,
        18% 80.35%,
        20% 75.82%,
        22% 72.57%,
        24% 71.07%,
        26% 71.53%,
        28% 73.88%,
        30% 77.79%,
        32% 82.71%,
        34% 87.96%,
        36% 92.79%,
        38% 96.52%,
        40% 98.64%,
        42% 98.84%,
        44% 97.1%,
        46% 93.66%,
        48% 89%,
        50% 83.78%,
        52% 78.73%,
        54% 74.56%,
        56% 71.86%,
        58% 71%,
        60% 72.11%,
        62% 75.03%,
        64% 79.35%,
        66% 84.46%,
        68% 89.65%,
        70% 94.18%,
        72% 97.43%,
        74% 98.93%,
        76% 98.47%,
        78% 96.12%,
        80% 92.21%,
        82% 87.29%,
        84% 82.04%,
        86% 77.21%,
        88% 73.48%,
        90% 71.36%,
        92% 71.16%,
        94% 72.9%,
        96% 76.34%,
        98% 81%,
        100% 86.22%
    );
}
.equipo {
    text-align: center;
}
.people-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.person {
    display: flex;
    flex-direction: column;
}

.legal {
    margin: 1vh 10vw;
}
.legal * {
    margin: 20px;
}

.legal p,
strong,
br {
    margin: 0;
}

.b1 {
    bottom: 20px;
}

.b2 {
    bottom: 140px;
}

.b3 {
    bottom: 260px;
}

.b4 {
    bottom: 380px;
}

.b5 {
    bottom: 500px;
}

button:hover {
    box-shadow: 0 6px 10px 0 #ffffff, 0 7px 25px 0 #7c7c7c;
    cursor: pointer;
}

.lp-container {
    background-color: rgba(245, 245, 247, 0.726);
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: "center";
    gap: 50px;
    padding: 3%;
    width: 80%;
    margin: auto;
}

.lp-text-external {
    align-self: "center";
    color: #fcfdff;
    border-radius: 25px;
    width: 90%;
    margin-left: 5%;
}

.hd-center {
    width: 90%;
    text-align: center;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #ffffff;
}

.index-container {
    background-color: rgba(177, 208, 249, 0.488);
    border-radius: 25px;
    border-color: #fcfdff;
    border: #fcfdff;
    display: flex;
    flex-direction: column;
    justify-content: "center";
    text-align: justify;
    gap: 50px;
    padding: 3%;
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
    margin-right: 20%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.ver-container {
    background-color: rgba(177, 208, 249, 0.488);
    border-radius: 25px;
    border-color: #fcfdff;
    border: #fcfdff;
    display: flex;
    flex-direction: column;
    justify-content: "center";
    text-align: justify;
    gap: 50px;
    padding: 3%;
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
    margin-right: 20%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.ver-container:hover {
    background-color: rgba(132, 186, 233, 0.7);
}

.index-container {
    background-color: rgba(177, 208, 249, 0.488);
    border-radius: 25px;
    border-color: #fcfdff;
    border: #fcfdff;
    display: flex;
    flex-direction: column;
    justify-content: "center";
    text-align: justify;
    gap: 50px;
    padding: 3%;
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
    margin-right: 20%;
    color: #ffffff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.legal-container {
    background-color: rgba(177, 208, 249, 0.488);
    border-radius: 25px;
    border-color: #fcfdff;
    border: #fcfdff;
    display: flex;
    flex-direction: column;
    justify-content: "center";
    text-align: justify;
    gap: 50px;
    padding: 0%;
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
    margin-right: 20%;
    color: #ffffff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.user-pic {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid rgba(85, 39, 12, 0.3);
    box-shadow: 0 0 10px 5px rgba(85, 39, 12, 0.1);
}

.mp-text {
    margin-left: 3%;
}

.logo-nexong {
    width: 20%;
}

.button-img {
    width: 60%;
}

.link-img:hover {
    box-shadow: 0 6px 10px 0 #ffffff, 0 7px 25px 0 #7c7c7c;
}

.link-img-us:hover {
    box-shadow: 0 6px 10px 0 #ffffff, 0 7px 25px 0 #7c7c7c;
}

.ver-pic {
    width: 25%;
    text-align: right;
}

@media (max-width: 768px) {
    .ver-container {
        width: 70%;
    }
    .index-container {
        width: 70%;
    }
    button {
        width: 70px;
        max-height: 70px;
    }
    .button-text {
        font-size: 10px;
    }
    .lp-bg {
        min-height: 768px;
    }
    .b1 {
        bottom: 20px;
    }
    .b2 {
        bottom: 110px;
    }
    .b3 {
        bottom: 200px;
    }
    .b4 {
        bottom: 290px;
    }
    .b5 {
        bottom: 380px;
    }
    p {
        font-size: 15px;
    }
    .user-pic {
        margin-top: 20px;
        margin-bottom: 20px;

        width: 120px;
    }
    .index-container {
        margin-left: 20px;
    }
}

@media (max-width: 800px) {
    .header {
        clip-path: polygon(
            100% 0%,
            0% 0%,
            0% 97.25%,
            2% 97.08%,
            4% 96.83%,
            6% 96.49%,
            8% 96.08%,
            10% 95.6%,
            12% 95.06%,
            14% 94.47%,
            16% 93.83%,
            18% 93.15%,
            20% 92.46%,
            22% 91.75%,
            24% 91.04%,
            26% 90.33%,
            28% 89.65%,
            30% 89.01%,
            32% 88.4%,
            34% 87.85%,
            36% 87.35%,
            38% 86.93%,
            40% 86.57%,
            42% 86.3%,
            44% 86.12%,
            46% 86.02%,
            48% 86.01%,
            50% 86.09%,
            52% 86.25%,
            54% 86.51%,
            56% 86.84%,
            58% 87.25%,
            60% 87.73%,
            62% 88.27%,
            64% 88.87%,
            66% 89.51%,
            68% 90.18%,
            70% 90.88%,
            72% 91.59%,
            74% 92.3%,
            76% 93%,
            78% 93.68%,
            80% 94.33%,
            82% 94.93%,
            84% 95.49%,
            86% 95.98%,
            88% 96.41%,
            90% 96.76%,
            92% 97.03%,
            94% 97.22%,
            96% 97.32%,
            98% 97.33%,
            100% 97.25%
        );
    }
}
